.loan-pre-approved {
  background: linear-gradient(
    90deg,
    rgba(34, 145, 52, 0.500437675070028) 0%,
    rgba(32, 171, 32, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
.loan-paid {
  background: linear-gradient(-225deg, #ac32e4 0%, #7918f2 48%, #4801ff 100%);
}

.p-dropdown .p-dropdown-clear-icon {
  width: 0.7rem;
}

table .almost-due {
  background-color: antiquewhite !important;
}
table .overdue {
  background-color: rgb(250, 220, 215) !important;
}

table .paid {
  background-color: rgb(230, 243, 226) !important;
}
