.loan-pre-approved {
  background: linear-gradient(
    90deg,
    rgba(34, 145, 52, 0.500437675070028) 0%,
    rgba(32, 171, 32, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
.loan-paid {
  background: linear-gradient(-225deg, #ac32e4 0%, #7918f2 48%, #4801ff 100%) !important;
}

.loan-request-pre-termination {
  background: linear-gradient(-225deg, #e43261 0%, #f21873 48%, #cc01ff 100%) !important;
}

.loan-pre-terminated {
  background: rgba(255, 0, 0, 0.879) !important;
}

.loan-draft {
  background: rgba(85, 85, 85, 0.879) !important;
}

.p-dropdown .p-dropdown-clear-icon {
  width: 0.7rem;
}

table .almost-due {
  background-color: antiquewhite !important;
}
table .overdue {
  background-color: rgb(250, 220, 215) !important;
}

table .paid {
  background-color: rgb(230, 243, 226) !important;
}
/* 
.p-datatable-scrollable .p-frozen-column::after:not(.p-frozen-column.froze-right) {
  box-shadow: inset 10px 0 8px -8px #3c6daf40;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  bottom: -1px;
  width: 30px;
  transform: translate(100%);
  transition: box-shadow .3s;
  content: "";
  pointer-events: none;
} */

.p-datatable-scrollable .p-frozen-column.froze-right::before {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  bottom: -1px;
  width: 30px;
  content: '';
  transform: translate(-100%);
  transition: box-shadow 0.3s;
  box-shadow: inset -10px 0 8px -8px #3c6daf40;
  pointer-events: none;
}
